@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: local('Gordita'), url(../fonts/Roboto-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  src: local('Gordita'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    font-style: normal;
    src: local('Gordita'), url(../fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    src: local('Gordita'), url(../fonts/Roboto-Light.ttf) format('truetype');
}